

/*About*/


.owl-dot {
    box-shadow: none;
}


.owl-carousel .owl-prev.disabled,
.owl-carousel .owl-next.disabled {
    pointer-events: none;
    opacity: 0.2;
}

.owl-carousel .owl-nav {
    height: 0;
}

    .owl-carousel .owl-nav button {
        height: 47px;
        position: absolute;
        width: 26px;
        cursor: pointer;
        top: 200px !important;
        right: 100px !important;
        border: none !important;
        background: none !important;
        box-shadow: none;
    }

.owl-carousel .owl-prev {
    left: 10px;
}

.owl-carousel .owl-next {
    right: 10px;
}

img {
    border-style: none;
}

* {
    margin: 0;
    padding: 0
}

.card {
    transition-duration: 0.3s;
    width: 350px;
    border-color: var(--Coral);
    border-width: 4px;
}

.circle {
    height: 140px;
    width: 140px;
    border-radius: 50% !important
}

.name {
    font-size: 22px;
    font-weight: bold
}

.idd {
    font-size: 14px;
    font-weight: 600;
    color: var(--Lilac);
}

.spaces {
    padding: 4px 4px 4px 4px;
    color: #585858
}

.py-5 > .container {
    width: 90%;
}

.icons a i{
    color: var(--Coral);
}

.card:hover {
    transition-duration: 0.3s;
    transform: scale(1.08);
    box-shadow: 0px 0 30px rgba(1, 41, 112, 0.1);
}

/*--------------------------------------------------------------
# Sections
--------------------------------------------------------------*/
section {
    padding: 60px 0;
    overflow: hidden;
}

.section-header {
    text-align: center;
    padding-bottom: 40px;
}

    .section-header h2 {
        font-size: 13px;
        letter-spacing: 1px;
        font-weight: 700;
        margin: 0;
        color: #4154f1;
        text-transform: uppercase;
    }

    .section-header p {
        margin: 10px 0 0 0;
        padding: 0;
        font-size: 38px;
        line-height: 42px;
        font-weight: 700;
        color: #012970;
    }

@media (max-width: 768px) {
    .section-header p {
        font-size: 28px;
        line-height: 32px;
    }
}


/*--------------------------------------------------------------
# Values
--------------------------------------------------------------*/
.values .box {
    padding: 30px;
    box-shadow: 0px 0 5px rgba(1, 41, 112, 0.08);
    text-align: center;
    transition: 0.3s;
    height: 100%;
}

    .values .box img {
        padding: 30px 50px;
        transition: 0.5s;
        transform: scale(1.1);
    }

    .values .box h3 {
        font-size: 24px;
        color: var(--Coral);
        font-weight: 700;
        margin-bottom: 18px;
    }

    .values .box:hover {
        box-shadow: 0px 0 30px rgba(1, 41, 112, 0.08);
    }

        .values .box:hover img {
            transform: scale(1);
        }

/*--------------------------------------------------------------
# Counts
--------------------------------------------------------------*/
.counts {
    padding: 70px 0 60px;
}

    .counts .count-box {
        display: flex;
        align-items: center;
        padding: 30px;
        width: 100%;
        background: var(--White);
        box-shadow: 0px 0 30px rgba(1, 41, 112, 0.08);
    }

        .counts .count-box i {
            font-size: 42px;
            line-height: 0;
            margin-right: 20px;
            color: #4154f1;
        }

        .counts .count-box span {
            font-size: 36px;
            display: block;
            font-weight: 600;
            color: var(--Coral);
        }

        .counts .count-box p {
            padding: 0;
            margin: 0;
            font-family: "Nunito", sans-serif;
            font-size: 14px;
        }
