/*--------------------------------------------------------------
# General
--------------------------------------------------------------*/
:root {
    scroll-behavior: smooth;
}

body {
    font-family: "Open Sans", sans-serif;
    color: #444444;
}

a {
    color: #4154f1;
    text-decoration: none;
}

    a:hover {
        color: #717ff5;
        text-decoration: none;
    }

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Nunito", sans-serif;
}

/*--------------------------------------------------------------
# Sections
--------------------------------------------------------------*/
section {
    padding: 60px 0;
    overflow: hidden;
}

.section-header {
    text-align: center;
    padding-bottom: 40px;
}

    .section-header h2 {
        font-size: 13px;
        letter-spacing: 1px;
        font-weight: 700;
        margin: 0;
        color: #4154f1;
        text-transform: uppercase;
    }

    .section-header p {
        margin: 10px 0 0 0;
        padding: 0;
        font-size: 38px;
        line-height: 42px;
        font-weight: 700;
        color: #012970;
    }

@media (max-width: 768px) {
    .section-header p {
        font-size: 28px;
        line-height: 32px;
    }
}


/*--------------------------------------------------------------
# Back to top button
--------------------------------------------------------------*/
.back-to-top {
    position: fixed;
    visibility: hidden;
    opacity: 0;
    right: 15px;
    bottom: 15px;
    z-index: 99999;
    background: var(--Lilac);
    width: 40px;
    height: 40px;
    border-radius: 4px;
    transition: all 0.4s;
}

    .back-to-top i {
        font-size: 24px;
        color: var(--White);
        line-height: 0;
    }

    .back-to-top:hover {
        background: var(--Pale-pink);
        color: var(--White);
    }

    .back-to-top.active {
        visibility: visible;
        opacity: 1;
    }



/*--------------------------------------------------------------
# Hero Section
--------------------------------------------------------------*/
.hero {
    width: 100%;
    height: 100vh;
}

    .hero h1 {
        margin: 0;
        font-size: 48px;
        font-weight: 700;
        color: var(--Lilac);
    }

    .hero h2 {
        color: var(--Grey);
        margin: 15px 0 0 0;
        font-size: 26px;
    }

    .hero .btn-get-started {
        margin-top: 30px;
        line-height: 0;
        padding: 15px 40px;
        border-radius: 4px;
        transition: 0.5s;
        color: var(--White);
        background: var(--Coral);
        box-shadow: 0px 5px 30px var(--Ligth-pink);
    }

        .hero .btn-get-started span {
            font-family: "Nunito", sans-serif;
            font-weight: 600;
            font-size: 16px;
            letter-spacing: 1px;
        }

        .hero .btn-get-started i {
            margin-left: 5px;
            font-size: 18px;
            transition: 0.3s;
        }

        .hero .btn-get-started:hover i {
            transform: translateX(5px);
        }

    .hero .hero-img {
        text-align: right;
    }

@media (min-width: 1024px) {
    .hero {
        background-attachment: fixed;
    }
}

@media (max-width: 991px) {
    .hero {
        height: auto;
        padding: 120px 0 60px 0;
    }

        .hero .hero-img {
            text-align: center;
            margin-top: 80px;
        }

            .hero .hero-img img {
                width: 80%;
            }
}

@media (max-width: 768px) {
    .hero {
        text-align: center;
    }

        .hero h1 {
            font-size: 32px;
        }

        .hero h2 {
            font-size: 24px;
        }

        .hero .hero-img img {
            width: 100%;
        }
}

/*--------------------------------------------------------------
# Index Page
--------------------------------------------------------------*/


/*--------------------------------------------------------------
# Services
--------------------------------------------------------------*/
.services .service-box {
    box-shadow: 0px 0 30px rgba(1, 41, 112, 0.08);
    height: 100%;
    padding: 60px 30px;
    text-align: center;
    transition: 0.3s;
    border-radius: 5px;
}

    .services .service-box .icon {
        font-size: 36px;
        padding: 40px 20px;
        border-radius: 4px;
        position: relative;
        margin-bottom: 25px;
        display: inline-block;
        line-height: 0;
        transition: 0.3s;
    }

    .services .service-box h3 {
        color: #444444;
        font-weight: 700;
    }

  

    .services .service-box.blue {
        border-bottom: 3px solid #2db6fa;
    }

        .services .service-box.blue .icon {
            color: #2db6fa;
            background: #dbf3fe;
        }

        .services .service-box.blue:hover {
            background: #2db6fa;
        }

    .services .service-box.orange {
        border-bottom: 3px solid #f68c09;
    }

        .services .service-box.orange .icon {
            color: #f68c09;
            background: #fde3c4;
        }

        .services .service-box.orange:hover {
            background: #f68c09;
        }

    .services .service-box.green {
        border-bottom: 3px solid #08da4e;
    }

        .services .service-box.green .icon {
            color: #08da4e;
            background: #cffddf;
        }

        .services .service-box.green:hover {
            background: #08da4e;
        }

    .services .service-box.red {
        border-bottom: 3px solid #e9222c;
    }

        .services .service-box.red .icon {
            color: #e9222c;
            background: #fef7f8;
        }

        .services .service-box.red:hover {
            background: #e9222c;
        }

    .services .service-box.purple {
        border-bottom: 3px solid #b50edf;
    }

        .services .service-box.purple .icon {
            color: #b50edf;
            background: #f8e4fd;
        }

        .services .service-box.purple:hover {
            background: #b50edf;
        }

    .services .service-box.pink {
        border-bottom: 3px solid #f51f9c;
    }

        .services .service-box.pink .icon {
            color: #f51f9c;
            background: #feecf7;
        }

        .services .service-box.pink:hover {
            background: #f51f9c;
        }

    .services .service-box:hover h3,
    .services .service-box:hover p,
    .services .service-box:hover .read-more {
        color: #fff;
    }

    .services .service-box:hover .icon {
        background: #fff;
    }


/*--------------------------------------------------------------
# F.A.Q
--------------------------------------------------------------*/
.faq .accordion-collapse {
    border: 0;
}

.faq .accordion-button {
    padding: 15px 15px 20px 0;
    font-weight: 600;
    border: 0;
    font-size: 18px;
    color: #444444;
    text-align: left;
}

    .faq .accordion-button:focus {
        box-shadow: none;
    }

    .faq .accordion-button:not(.collapsed) {
        background: none;
        color: #4154f1;
        border-bottom: 0;
    }

.faq .accordion-body {
    padding: 0 0 25px 0;
    border: 0;
}
