


.projects-container {
    font-family: 'Roboto';
    font-weight: 400;
    text-align: center;
}

    .projects-container > .row > a {
        text-decoration: none;
        margin: 25px;
        padding: 0;
        height: 200px;
        width: 200px;
        border: 0;
    }
        .projects-container > .row > a:hover {
            transition-duration: 0.3s;
            transform: scale(1.08);
            box-shadow: 0px 0 30px rgba(1, 41, 112, 0.1);
        }
        .projects-container > .row > a > .card-body {
            padding: 0;
            margin: 0;
            text-align: center;
            vertical-align: middle;
            border: 4px solid var(--Lilac);
            border-radius: 1rem;
        }

            .projects-container > .row > a > .card-body > .bi {
                font-size: 5vh;
                color: var(--Lilac);
                margin: 0;
                padding: 0;
            }

            .projects-container > .row > a > .card-body > .prog-title {
                border: 4px solid var(--Lilac);
                width: 100%;
                height: 20%;
                color: var(--Navy);
                position: absolute;
                bottom: 0;
                left: 0;
                text-align: center;
                line-height: 40px;
                transition: all 0.4s ease-in-out;
                border-radius: 0rem 0rem 1rem 1rem;
            }

        .projects-container > .row > a:hover > .card-body > .prog-title {
            background-color: var(--Pale-pink);
        }



#username{
    position:absolute;
    bottom :40px;

    font-size:small;
    color: var(--Lilac);


}


 .btn {
   

    font-size: 20px;
    height: auto;
    width: auto;
    transition: all 0.4s ease-out;
    border-radius: 20px;
    background-color: var(--Coral);
    border: 2px solid var(--None);
    color: var(--White);
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

  .btn:hover {
        background-color: var(--White);
        border: 2px solid var(--Coral);
        color: var(--Coral);
    }


  #project-view{
      position:fixed;
      height: 80%;
      
      left:0px;
      z-index:100;


  }

#task-switch {
    position: fixed;

    left: 10px;
    bottom:10px;
}




#add-task-view {
    position: fixed;
    height: 80%;
    right: 0px;
    z-index: 100;
}

