


:root {
    /*
        Navy: #141850
        Lilac: #303179
        Coral: #ed7966
        Pale pink: #f5cac2
        Beige: #fae5df
        Grey: #e9e9f1
        White: #ffffff


    */

    --Pale-lilac: #fafbff;
    --Navy: #141850;
    --Lilac: #303179;
    --Coral: #ed7966;
    --Pale-pink: #f5cac2;
    --Beige: #fae5df;
    --Grey: #808080;
    --White: #ffffff;
    --None: rgba(0,0,0,0);
}


html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}



body {
    margin-bottom: 60px;
    background-color: var(--White);
    
}
a{
    text-decoration:none;
}








/* custom style */

#back {
    position: fixed;
    bottom: 15px;
    left: 15px;
    z-index: 1000;
}
    #back > * {
        color: var(--Navy);
        font-size:x-large;

    }



.navbar {
    background-color: var(--White);
    font-size: 16px;
    font-family: 'Roboto';
    font-weight: 400;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1100; /* bring navbar to front*/
}
    .navbar .container-fluid .navbar-collapse .navbar-nav .nav-item .nav-link {
        color: var(--Grey);
        opacity: 100%;
        transition: all 0.5s ease-in-out;
    }


        .navbar .container-fluid .navbar-collapse .navbar-nav .nav-item .nav-link:hover {
            color: var(--Coral);
   
    
        }

header{
    margin-bottom:60px;
}


.navbar-nav .dropdown .nav-link {
    background-color: rgba(0, 0, 0, 0);
    border:0;
    padding:0;
}

.profile-picture {
    height: 40px;
    width: 40px;
    object-fit: cover;
}



.d-flex .btn {
    font-size:20px;

    height: auto;
    width: auto;
    transition: all 0.4s ease-out;
    border-radius: 20px;
    background-color: var(--Coral);
    border: 2px solid var(--None);
    color: var(--White);
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.d-flex .btn:hover {
    background-color: var(--White);
    border: 2px solid var(--Coral);
    color: var(--Coral);
}


/* ~~~~~~ Projects page ~~~~~~ */








.hide{
    display: none;
}


