
@{
    ViewData["Title"] = "About us";
    <head>
         <link rel="stylesheet" href="~/css/about.css">
    </head>

}

<div class="py-5 service-26">
    <div class="container">
        <header class="section-header">
            <h2>Our team</h2>
            <p>Team TWICE is happy to meet you</p>
        </header>
                
        <div class="row justify-content-between mt-4 pt-3">
                   
                        <div class="col-md-6">
                                <div class="container mt-4 mb-4 p-3 d-flex justify-content-center">
                                    <div class="card p-4">
                                        <div class="image d-flex flex-column justify-content-center align-items-center">
                                            <img class="circle" src="/images/people/David.jpg"/>

                                            <span class="name mt-3">DAVID PĂTRÂNJEL</span> 
                                            <span class="idd">Developer</span>

                                            <div class="icons d-flex flex-row justify-content-center align-items-center gap-2"> 
                                                <span>

                                    <a href="https://www.facebook.com/david.patranjel" target="_blank">
                                                                <i class="bi bi-facebook"></i>
                                                            </a>
                                                      
                                                           

                                    <a href="https://github.com/DavidPatranjel" target="_blank">
                                                                <i class="bi bi-github"></i>
                                                            </a>

                                    <a href="https://www.instagram.com/davidpatranjel/" target="_blank">
                                                                <i class="bi bi-instagram"></i>
                                                           </a>
                                                    
                                                </span> 
                                            </div>
                                    
                                        </div>
                                    </div>
                                </div>  
                        </div>



                <div class="col-md-6 align-self-center">

                <p class="mt-3">As the creative and intelligent founder of Taskify, I am dedicated to providing the most comprehensive and user-friendly task management solution on the market.</p>

                
                <p class="mt-3">With my resourceful approach and extensive knowledge of project management, I am committed to helping individuals and teams increase their productivity and achieve their goals</p>
                <p class="mt-3">I believe that everyone has the potential to be organized and efficient, and Taskify is here to help them reach their full potential.</p>

                </div>

         </div>
            
         <div class="row justify-content-between mt-4 pt-3">


            
                <div class="col-md-6 align-self-center">
                <p class="mt-3">As a passionate and smart entrepreneur, I founded Taskify with the goal of creating the most intuitive and visually appealing task management platform on the market.</p>


                <p class="mt-3">My artistic eye and attention to detail have been invaluable in the design of Taskify, ensuring that our users have a seamless and enjoyable experience.</p>
                <p class="mt-3">I believe that everyone has the potential to be organized and efficient, and Taskify is here to help them reach their full potential.</p>
                </div>

                        <div class="col-md-5 col-md-5">
                                    <div class="container mt-4 mb-4 p-3 d-flex justify-content-center">
                                        <div class="card p-4">
                                            <div class="image d-flex flex-column justify-content-center align-items-center">
                                                <img class="circle" src="~/images/people/Radu.jpg" />

                                                <span class="name mt-3">RADU NEDELCU</span>
                                                <span class="idd">Developer</span>

                            <div class="icons d-flex flex-row justify-content-center align-items-center gap-2">
                                                    <span>

                                    <a href="https://www.facebook.com/profile.php?id=100009284327735" target="_blank">
                                                                <i class="bi bi-facebook"></i>
                                                            </a>
                                                      
                                                           

                                    <a href="https://github.com/Pepi100" target="_blank">
                                                                <i class="bi bi-github"></i>
                                                            </a>

                                    <a href="https://www.instagram.com/pepi.100/" target="_blank">
                                                                <i class="bi bi-instagram"></i>
                                                            </a>
                                                   
                                                    </span>
                                                </div>

                                            </div>
                                        </div>
                                    </div>
                            
                        </div>
              
            

             
            </div>

    </div>
</div>

<main id = "main">
    <!-- ======= Values Section ======= -->
    <section id="values" class="values">

        <div class="container" data-aos="fade-up">

            <header class="section-header">
                <h2>Our Values</h2>
                <p>Here are TWICE's values</p>
            </header>

            <div class="row">

                <div class="col-lg-4" data-aos="fade-up" data-aos-delay="200">
                    <div class="box">
                        <img src="~/images/values-1.jpg" class="img-fluid" alt="">
                        <h3>Simplicity</h3>
                        <p>Taskify is designed to be easy to use, with a straightforward interface and intuitive features that make it simple for users to manage their tasks and projects.</p>
                    </div>
                </div>

                <div class="col-lg-4 mt-4 mt-lg-0" data-aos="fade-up" data-aos-delay="400">
                    <div class="box">
                        <img src="~/images/values-2.jpg" class="img-fluid" alt="">
                        <h3>Efficiency</h3>
                        <p>Taskify is built to help teams get more done in less time, with features that streamline their workflow and help them stay on top of their to-do list.</p>
                    </div>
                </div>

                <div class="col-lg-4 mt-4 mt-lg-0" data-aos="fade-up" data-aos-delay="600">
                    <div class="box">
                        <img src="~/images/values-3.jpg" class="img-fluid" alt="">
                        <h3>Collaboration</h3>
                        <p>Taskify is a great tool for teams, with features that allow users to share tasks, communicate with each other, and work together more effectively.</p>
                    </div>
                </div>

            </div>

        </div>

    </section><!-- End Values Section -->
    <!-- ======= Counts Section ======= -->
    <section id="counts" class="counts">
        <div class="container" data-aos="fade-up">

            <div class="row gy-4">

                <div class="col-lg-3 col-md-6">
                    <div class="count-box">
                        <i class="bi bi-emoji-smile"></i>
                        <div>
                            <span data-purecounter-start="0" data-purecounter-end="232" data-purecounter-duration="1" class="purecounter">2000</span>
                            <p>Happy Clients</p>
                        </div>
                    </div>
                </div>

                <div class="col-lg-3 col-md-6">
                    <div class="count-box">
                        <i class="bi bi-journal-richtext" style="color: #ee6c20;"></i>
                        <div>
                            <span data-purecounter-start="0" data-purecounter-end="521" data-purecounter-duration="1" class="purecounter">10000</span>
                            <p>Projects</p>
                        </div>
                    </div>
                </div>

                <div class="col-lg-3 col-md-6">
                    <div class="count-box">
                        <i class="bi bi-headset" style="color: #15be56;"></i>
                        <div>
                            <span data-purecounter-start="0" data-purecounter-end="1463" data-purecounter-duration="1" class="purecounter">5000</span>
                            <p>Hours Of Support</p>
                        </div>
                    </div>
                </div>

                <div class="col-lg-3 col-md-6">
                    <div class="count-box">
                        <i class="bi bi-people" style="color: #bb0852;"></i>
                        <div>
                            <span data-purecounter-start="0" data-purecounter-end="15" data-purecounter-duration="1" class="purecounter">150</span>
                            <p>Hard Workers</p>
                        </div>
                    </div>
                </div>

            </div>

        </div>
    </section><!-- End Counts Section -->

</main>