@using Microsoft.AspNetCore.Identity
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

<ul class="navbar-nav">




@if (SignInManager.IsSignedIn(User))
{
    @if(User.IsInRole("Admin")){
        <li class="nav-item">
            <a  class="nav-link text-dark" asp-area="" asp-controller="Projects" asp-action="IndexAdmin" title="Manage">All projects</a>
        </li>

        <li class="nav-item">
            <a  class="nav-link text-dark" asp-area="" asp-controller="Users" asp-action="Index" title="Manage">All users</a>
        </li>

    }


    <li class="nav-item">
        <a  class="nav-link text-dark" asp-area="" asp-controller="Projects" asp-action="Index" title="Manage">My projects</a>
    </li>


    <li class="nav-item">
        <a  class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">Hello @User.Identity?.Name!</a>
    </li>

    <li class="dropdown">
      <button class="nav-link text-dark" type="button" id="dropdownMenu2" data-bs-toggle="dropdown" aria-expanded="false">
         Hello @User.Identity?.Name!
      </button>
      <ul class="dropdown-menu" aria-labelledby="dropdownMenu2">
        <li><a  class="dropdown-item" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">My profile</a></li>

        <li>
            <form  class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                    <button  type="submit" class="dropdown-item">Logout</button>
            </form>
        </li>
      </ul>
    </li>



    
}
else
{
    <li class="nav-item">
        <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Register">Register</a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Login">Login</a>
    </li>
}
</ul>
