@{
    ViewBag.Title = "Index";
}

<h2 class="display-2 text-center">My projects:</h2>
<br />
@if (ViewBag.Message != null)
{
    <h2 class="alert-success p-3 rounded-3 text-center mb-5">@ViewBag.Message</h2>
}


<div class="d-flex justify-content-center">
    <a class="btn btn-outline-success" href="/Projects/New">Add a project</a>
    <br />
</div>

<br />

<br />

@if (ViewBag.Projects ==  null)
{
    <h3 class= "display-4 text-center">There are no projects to display. Would you like to add one?</h3>


}


@foreach (Taskify.Models.Project project in ViewBag.Projects)
{
    <div class="card">


        <div class="card-body">

            <h3 class="card-title alert-info py-3 px-3 rounded-2">@project.Title</h3>

            <div class="card-text">@project.Description</div>
            <div class="d-flex justify-content-between flex-row mt-5">
                @if(project.User is not null)
                {
                    <div><i class="bi bi-person"></i>@project.User.UserName</div>
                }
            </div>
        </div>
        
        <a class="btn btn-success" href="/Projects/Show/@project.Id">Show Project</a>
    

    </div>

    <br />
    <br />
}