@{
    ViewBag.Title = "Projects";
}


@if (ViewBag.Message != null)
{
    <h2 class="alert-success p-3 rounded-3 text-center mb-5">@ViewBag.Message</h2>
}







@if (ViewBag.Projects is int)
{
    <h3 class= "display-4 text-center">There are no projects to display. Would you like to add one?</h3>
    <br />
    <div class="d-flex justify-content-center">
        <a class="btn" href="/Projects/New">Add a project!</a>
    </div>

}
else
{
    <h2 class="display-2 text-center">My projects:</h2>
    <br />

    <div class="container">
        <div class="row">
        @foreach (Taskify.Models.Project project in ViewBag.Projects)
        {

                <a class="col-sm-6 col-md-4 col-lg-3" href="/Projects/Show/@project.Id">
                    <div class="card">


                        <div class="card-body">

                            <h3 class="card-title alert-info py-3 px-3 rounded-2">@project.Title</h3>

                            <div class="card-text">@project.Description</div>
                            <div class="d-flex justify-content-between flex-row mt-5">
                                @if (project.User is not null)
                                {
                                    <div><i class="bi bi-person"></i>@project.User.UserName</div>
                                }
                            </div>
                        </div>




                    </div>
                </a>
        }
        </div>

    </div>
}


    

